/**
 * Color Variables
 * These colors are based on the reference design
 */

// Primary Colors
$primary-color: #00a3ee;
$tertiary-color: #1c4c62;
$secondary-color: #f1f4f9;

// Text Colors
$text-primary-color: #01060c;
$text-secondary-color: #8491a5;

// Border & Background Colors
$border-color: #e7ecf1;
$message-bg-color: #f3f7fa;

// Status Colors
$danger-color: #e10004;
$url-color: #382ef1;
